@use "../utils/vars.scss" as *;

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-body {
  background-color: #{$snow};
  min-width: 34.4rem;
  width: min-content;
  border-radius: 1.2rem;
  padding: 1.6rem;
  transition: all 0.7s ease-in-out;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
